body {
  position: relative;
  padding-top: 72px;
  background-color: #eee !important;
}

* {
  font-family: 'Almarai', sans-serif;
  font-size: large;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.nav-input-serch {
  border: none;
  border-radius: 7px;
  height: 40px;
}
.logo {
  max-width: 70px;
  max-height: 50px;
}

.btn-more {
  background-color: white;
  border-radius: 10px;
  outline: none;
  border:1px solid;
  padding:5px 15px ;
}
.btn-more:hover {
  background-color: black;
  color: white;
}
.bg-dark-50 {
  background-image: linear-gradient( to right,rgba(0, 0, 0, 0.904),transparent 10% ,rgba(0, 0, 0, 0.844));
}
.box-shadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0,.2)
}
.footer {
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  font-size: 20px !important;
  font-weight: 700 !important;
}
label {
  font-size: 15px !important;
  font-weight: 400 !important;
}
.image-gallery-image {
min-height: 500px !important;
}
.image-gallery-thumbnail-image {
  max-width: 50px !important;
  max-height: 70px !important;
}
.image-gallery-thumbnail.active,
 .image-gallery-thumbnail:focus {
  outline: none !important;
  border: none !important;
}
.page-link
 {
  background-color: white !important;
  color: black !important;
  border-radius: 10px !important;
  &:hover {
    background-color: black !important;
    color: white !important;
  }
}
.dropdown-toggle::after {
display: none !important;
}

.page-link-active {
  background-color: black !important;
  color: white !important;
}
.admin-dash {
  border-block-end: 1px solid #ddd;
}
.admin-dash:hover  {
  background-color: black;
  border-block-end: 3px solid blue;
  
  .admin-dash-title{
    color: #fff !important;
  }
  .admin-dash-icon{
    color: red !important;
}
}
@media (max-width:767px) {
  .admin-dash-icon {
    display: block;
    width: 100%;
  }
  .admin-dash-title {
    display: none;
  }
}